.root {
  min-width: 320px;
  max-width: 1792px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 332px 1fr;
  grid-template-areas:
    "header header"
    "aside products";
  gap: 16px;
  padding: 32px;
  margin: 0 auto;
  background: #fffefb;
  color: #3F3F3F;
  /* fonts */
  font-family: 'Source Sans Pro', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 414px) {
  .root {
    padding: 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0;
  }
}

