.form__label_required {
  display: inline-block;
  position: absolute;
  height: 4px;
  width: 4px;
  background-image: url("/src/images/required.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
