.notification__message_shown {
  display: flex;
  animation: popup 1s ease 0s 1 normal forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
